<%= form_with(model: page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :page_name %>
    <! -- input for @page.name -- >
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :page_title %>

    <! -- input for @page.title -- >
  </div>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_area :context, id: :page_context %>

    <! -- input for @page.context -- >
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
